// header
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: $colorWhite;
  padding: 30px 0px 40px 0px;
  .header__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .header__logo {
      padding: 10px 0px 0px 0px;
      color: $colorBlack;
      font-weight: 900;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0.02em;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        color: $colorRed;
      }

      .header__under-logo {
        margin: 7px 0px 0px 0px;
        font-weight: 700;
        font-size: 8px;
        line-height: 120%;
        text-align: right;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $colorBlack;
      }
    }
    .header__block {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: fit-content;
      .header__block-title {
        justify-content: center;
        font-weight: 700;
        font-size: 11px;
        line-height: 160%;
        text-align: center;
        text-transform: uppercase;
        margin: 0px 0px 34px 0px;
      }
      .nav {
        .nav__list {
          display: flex;
          flex-direction: row;
          .nav__item {
            display: block;
            margin: 0px 30px 0px 0px;
            align-self: center;
            &.listed {
              position: relative;
              .nav__link {
                svg {
                  margin: 0px 0px 2px 14px;
                  fill: #000;
                }
              }
              .nav__item__list {
                visibility: hidden;
                position: absolute;
              }
              &:hover {
                .nav__item__list {
                  top: 30px;
                  z-index: 10;
                  visibility: visible;
                  text-align: center;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  background: $colorWhite;
                  padding: 10px 10px 10px 10px;
                  width: 158px;
                  left: 50%;
                  transform: translateX(-50%);
                  border-radius: 14px;
                  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
                  .nav__link {
                    margin: 15px 0px 15px 0px;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 120%;
                  }
                }
              }
            }
            .nav__link {
              color: $colorBlack;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 13px;
              line-height: 16px;
              cursor: pointer;
              transition: all 0.3s ease 0s;
              &:hover {
                color: $colorRed;
                svg {
                  fill: $colorRed;
                }
              }
            }
          }
        }
      }
      .header__btn {
        margin: 0px 0px 0px 20px;
      }
      .user-block {
        margin: 0px 0px 0px 20px;
        display: flex;
        flex-direction: row;
        .user {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          transition: all 0.3s ease 0s;

          .user__img {
            width: 30px;
            height: 30px;
            border-radius: 50px;
            margin: 0px 17px 0px 0px;
          }
          .user__name {
            font-weight: 700;
            font-size: 13px;
            line-height: 120%;
            text-transform: uppercase;
          }
          svg.user__marker {
            fill: $colorBlack;
            margin: 0px 0px 0px 14px;
          }

          .user__list {
            padding: 10px 10px 10px 10px;
            width: 158px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            visibility: hidden;
            border-radius: 14px;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
          }
          &:hover {
            .user__name {
              color: $colorRed;
            }
            svg.user__marker {
              fill: $colorRed;
            }
            .user__list {
              visibility: visible;
              top: 40px;
              width: 158px;
              padding: 10px 10px 10px 10px;
              display: flex;
              flex-direction: column;
              align-self: center;
              .user__link {
                text-transform: uppercase;
                margin: 15px 0px 15px 0px;
                text-align: center;
                font-weight: 700;
                font-size: 13px;
                line-height: 120%;
                color: $colorBlack;
                transition: all 0.3s ease 0s;
              }
            }
          }
        }
        .header__btn {
          margin: 0px 0px 0px 35px;
        }
      }
      .header__socials {
        margin: 70px 0px 0px 0px;
        flex-direction: column;
        align-items: center;
        .header__socials-link {
          margin: 0px 0px 30px 0px;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #000000;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          &:hover {
            color: $colorRed;
          }
        }
        .ya-share2{
          align-self: center;
          .ya-share2__item {
            margin-right: 0px;
          }
        }
      }
    }
    .burger {
      position: relative;
      display: none;
      width: 30px;
      height: 30px;
      padding: 0px 0px 0px 0px;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      background: none;
      &.header__burger_active {
        span {
          width: 30px;
          height: 2px;
          transition: all 0.3s ease 0s;
          transform: rotate(45deg);

          /*   отдельные стили для before - after   */
          &:before {
            width: 30px;
            height: 2px;
            top: 0;
            bottom: 0;
          }

          &:after {
            transform: rotate(90deg);
            width: 30px;
            height: 2px;
            top: 0;
            bottom: 0;
          }
        }
      }

      &:hover {
        span {
          &,
          &:before,
          &:after {
            background: $colorRed;
          }
        }
      }
      span {
        width: 30px;
        height: 2px;

        &,
        &:before,
        &:after {
          position: absolute;
          right: 0;
          display: block;
          background: $colorBlack;
          transition: all 0.2s linear 0s;
          height: 2px;
        }

        &:before,
        &:after {
          content: "";
          top: 10px;
          width: 24px;
        }

        /*   отдельные стили для before - after   */
        &:before {
          content: "";
          top: -6px;
          width: 24px;
        }

        &:after {
          content: "";
          top: 6px;
          width: 24px;
        }
      }
    }
  }
  .burger-invisible {
    display: none;
  }
}

// burger-part
@media (max-width: 1150px) {
  .header {
    padding-top: 40px;
    &.burger-visible {
      height: 100vh;
      overflow-y: scroll;
    }
    .header__wrapper {
      position: relative;
      .burger {
        display: block;
      }
      .header__logo {
        padding: 0px 0px 0px 0px;

        .header__under-logo {
        }
      }
      .header__block {
        display: none;
        position: absolute;
        width: 100%;
        max-width: 290px;
        &.burger-visible {
          display: block;
          top: 90px;
        }
        .nav {
          .nav__list {
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            justify-content: flex-start;

            .nav__item {
              width: 100%;
              margin: 0px 0px 10px 0px;
              &.listed {
                .nav__link {
                  svg {
                    display: none;
                  }
                }

                &:hover {
                  .nav__item__list {
                    display: none;
                    .nav__link {
                    }
                  }
                }
              }
              .nav__link {
                font-size: 24px;
              line-height: 29px;
              }
            }
          }
        }
        .header__btn {
          margin: 80px 0px 0px 0px ;
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
        }
        .user-block {
          display: flex;
          flex-direction: column;
          margin: 34px 0px 30px 0px;
          .user {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .user__img {
            }
            .user__name {
            }
            svg.user__marker {
              display: none;
            }

            .user__list {
              position: absolute;
              visibility: visible;
              width: unset;
              top: 100px;
              left: 50%;
              transform: translateX(-50%);
              width: unset;
              padding: 0;
              display: flex;
              flex-direction: row;
              align-items: center;
              box-shadow: none;
              border-radius: unset;
              margin: 0px 0px 0px 0px;
              .user__link {
                width: unset;
                text-transform: uppercase;
                text-align: center;
                font-weight: 700;
                font-size: 13px;
                line-height: 120%;
                color: #000000;
                padding: 0px 0px 0px 0px;
                &:hover {
                  color: $colorRed;
                }
              }
            }
            &:hover {
              .user__name {
              }
              svg.user__marker {
                display: none;
              }
              .user__list {
                position: relative;
                top: unset;
                left: unset;
                transform: none;
                width: unset;
                padding: 0px 0px 0px 0px;

                .user__link {
                  margin: 0px 0px 0px 0px;
                }
              }
            }
          }
          .header__btn {
            margin: 10px 0px 0px 0px;
          }
        }
      }
    }
    .burger-invisible {
      display: flex;
    }
  }
}

@media (max-width: 900px) {
  .header {
    .header__wrapper {
      .burger {
      }
      .header__logo {
        font-size: 17px;

        .header__under-logo {
          font-size: 7px;
        }
      }
      .header__block {
      }
      .nav {
        .nav__list {
          .nav__item {
            &.listed {
              .nav__link {
                svg {
                }
              }
              .nav__item__list {
              }
              &:hover {
                .nav__item__list {
                  .nav__link {
                  }
                }
              }
            }
            .nav__link {
            }
          }
        }
      }
    }
    .user-block {
      .user {
        .user__img {
        }
        .user__name {
        }
        svg.user__marker {
        }

        .user__list {
        }
        &:hover {
          .user__name {
          }
          svg.user__marker {
          }
          .user__list {
            .user__link {
            }
          }
        }
      }
      .header__btn {
      }
    }
  }
}

@media (max-width: 500px) {
  .header {
    padding-bottom: 16px;
    .header__wrapper {
      .burger {
      }
      .header__logo {
        font-size: 15px;

        .header__under-logo {
          font-size: 6px;
        }
      }
      .header__block {
      }
      .nav {
        .nav__list {
          .nav__item {
            &.listed {
              .nav__link {
                svg {
                }
              }
              .nav__item__list {
              }
              &:hover {
                .nav__item__list {
                  .nav__link {
                  }
                }
              }
            }
            .nav__link {
            }
          }
        }
      }
    }
    .user-block {
      .user {
        .user__img {
        }
        .user__name {
        }
        svg.user__marker {
        }

        .user__list {
        }
        &:hover {
          .user__name {
          }
          svg.user__marker {
          }
          .user__list {
            .user__link {
            }
          }
        }
      }
      .header__btn {
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    padding-bottom: 16px;
    .header__wrapper {
      .burger {
      }
      .header__logo {
        .header__under-logo {
        }
      }
      .header__block {
        max-width: calc(100% - 35px * 2);
        .nav {
          .nav__list {
            .nav__item {
              &.listed {
                .nav__link {
                  svg {
                  }
                }
                .nav__item__list {
                }
                &:hover {
                  .nav__item__list {
                    .nav__link {
                    }
                  }
                }
              }
              .nav__link {
              }
            }
          }
        }
      }
    }
    .user-block {
      .user {
        .user__img {
        }
        .user__name {
        }
        svg.user__marker {
        }

        .user__list {
        }
        &:hover {
          .user__name {
          }
          svg.user__marker {
          }
          .user__list {
            .user__link {
            }
          }
        }
      }
      .header__btn {
      }
    }
  }
}

// Блок для демонстрации
.changes {
  display: none !important;
  &.active {
    display: flex !important;
  }
}
