@mixin fontMain {
  font-family: "San Francisco Pro Display";
}


@mixin mainPaddingOfHeaderHeight {
  padding-top: $headerHeight1;
  @media (max-width: 500px) {
    padding-top: $headerHeight2;
  }
}
