@import "../components/stable/stable-all";
@import "../components/layout/layout-all";

@import "../components/helpers/breadcrumbs";

.videos {
  width: 100%;
  height: 100%;
  .videos__title {
  }
  .videos__search {
    padding-top: 68px;
    padding-bottom: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    .videos__search-input {
      outline: none;
      width: 100%;
      border: 2px solid #e5e5e5;
      border-right: none;
      padding: 20px 40px 22px 40px;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      color: $colorBlack;
      &::placeholder {
        color: #b3b3b3;
      }
      &:focus {
        border-color: #000;
      }
    }
    .videos__search-btn {
      padding: 24px 55px 24px 51px;
      span {
      }
      img {
        display: none;
      }
    }
  }
}

@media (max-width: 500px) {
  .videos {
    .videos__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 120%;
    }
    .videos__search {
      .videos__search-input {
        &::placeholder {
        }
      }
      .videos__search-btn {
        padding: 19px 19px 19px 19px;
        span {
          display: none;
        }
        img {
          display: block;
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}

/*   videos bllock   */
.videos-block {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0px 0px 112px 0px;

  .filter {
    max-width: 304px;
    min-width: 304px;
    flex-shrink: 0;
    .filter__description {
      display: none;
    }
    .filter__list {
      .filter__item {
        padding: 50px 0px 0px 0px;
        &:first-child {
          padding: 0;
        }
        .filter__header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 0px 0px 30px 58px;
          .filter__title {
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
          }
          .filter__btn {
            position: relative;
            background: none;
            display: none;
            width: 26px;
            height: 26px;
            z-index: 0;
            border: none;
            background: #cccccc;
            span {
              display: block;
              background: #fff;
              transition: all 0.2s linear 0s;
              top: 50%;
              left: 50%;
              transform: translateX(50%);
              width: 14px;
              height: 2px;
              &::after {
                content: "";
                display: block;
                background: #fff;
                transition: all 0.2s linear 0s;
                transform: rotate(90deg);
                top: 0;
                left: 0;
                width: 14px;
                height: 2px;
              }
            }

            &.body-visible {
              span {
                &::after {
                  transform: none;
                }
              }
            }
          }
        }

        .filter__body {
          display: flex;
          flex-direction: column;
          transition: all 0.3s ease 0s;
          .filter__label {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            margin: 0px 0px 10px 0px;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #808080;
            &:hover {
              .filter__text {
                color: #808080;
                &::before{
                  border: 2px solid #c2c2c2;
                }
              }
            }

            .filter__checkbox {
              position: absolute;
              opacity: 0;
              &:checked + .filter__text {
                color: #000;
                &::before {
                  background: url("../img/pages/videos/input-dot.svg");
                  background-repeat: no-repeat;
                  background-position: center center;
                }
              }
            }
            .filter__text {
              display: flex;
              align-items: center;
              &::before {
                opacity: 1;
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                flex-grow: 0;
                border: 2px solid #bdbdbd;
                background: $colorWhite;
                margin: 0px 28px 0px 0px;
              }
            }

            
          }
        }
      }
    }
    .filter__nav {
      padding: 50px 0px 0px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      .filter__nab-btn_submit {
        width: 100%;
        justify-self: flex-start;
        align-self: flex-start;
      }
      .filter__nab-btn_reset {
        width: 100%;
        background: none;
        border: none;
        font-weight: 700;
        font-size: 13px;
        line-height: 120%;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        color: #999999;
        &:hover {
          color: #000;
        }
      }
    }
  }
  .videos-wrapper {
    margin: 0px 0px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    .videos__list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .videos__item {
        padding: 20px 20px 30px 30px;
        max-width: 324px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        margin: 0px 0px 20px 0px;

        &:hover {
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
          .videos__item-link {
            .videos__item-img {
            }
            .videos__item-title {
            }
            .videos__item-text {
            }
            .videos__item-info {
              .videos__info-block {
                .video__info-name {
                }
                .video__info-value {
                }
              }
              .videos__more {
                .video__more-price {
                }
                .video__more-arrow {
                  background: url("../img/pages/videos/item-arrow.svg");
                }
              }
            }
          }
        }

        .videos__item-link {
          color: #000;

          .videos__item-img {
            height: 211px;
            width: 210px;
          }
          .videos__item-title {
            margin: 0px 0px 20px 0px;
            min-height: 44px;
            font-weight: 700;
            font-size: 16px;
            line-height: 140%;
          }
          .videos__item-text {
            min-height: 72px;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: #808080;
          }
          .videos__item-info {
            margin: 20px 0px 0px 0px;
            color: #808080;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            .videos__info-block {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: fit-content;

              .video__info-name {
                width: 70px;
                margin: 0px 20px 0px 0px;
              }
              .video__info-value {
              }
            }
            .videos__more {
              margin: 24px 0px 0px 0px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              .video__more-price {
                font-weight: 700;
                font-size: 13px;
                line-height: 120%;
                text-transform: uppercase;
                color: #000000;
              }
              .video__more-arrow {
                content: "";
                display: block;
                width: 22px;
                height: 22px;
                background: none;
                background-size: cover;
                transition: all 0.3s ease 0s;
              }
            }
          }
        }
      }
    }

    .vidios-pages {
      margin: 14px 0px 0px 0px;
      .vidios-pages__btn {
        border-radius: unset;
        border: none;
        background: none;
        font-weight: 700;
        font-size: 13px;
        line-height: 120%;
        color: #000;
        padding: 6px 9px 6px 9px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        margin: 0px 20px 0px 0px;
        &:last-child {
          margin: 0;
        }
        &:hover {
          background: #ededed;
        }
        &.current {
          background: #000;
          color: #fff;
        }
      }
    }
  }
}
@media (max-width: 1080px) {
  .videos-block {
    .filter {
      min-width: fit-content;
      flex-shrink: 1;
      .filter__list {
        .filter__item {
          &:first-child {
          }
          .filter__header {
            .filter__title {
            }
            .filter__btn {
              span {
              }

              &.body-visible {
                span {
                  &::after {
                  }
                }
              }
            }
          }

          .filter__body {
            .filter__label {
              &:hover {
              }

              .filter__checkbox {
                &:checked + .filter__text {
                  &::before {
                  }
                }
              }
              .filter__text {
                &::before {
                }
              }
            }
          }
        }
      }
      .filter__nav {
        .filter__nab-btn_submit {
        }
        .filter__nab-btn_reset {
        }
      }
    }
  }
}
@media (max-width: 990px) {
  .videos-wrapper {
    margin: 0px 0px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    .videos__list {
      .videos__item {
        width: 50%;

        &:hover {
          .videos__item-link {
            .videos__item-img {
            }
            .videos__item-title {
            }
            .videos__item-text {
            }
            .videos__item-info {
              .videos__info-block {
                .video__info-name {
                }
                .video__info-value {
                }
              }
              .videos__more {
                .video__more-price {
                }
                .video__more-arrow {
                }
              }
            }
          }
        }

        .videos__item-link {
          .videos__item-img {
          }
          .videos__item-title {
          }
          .videos__item-text {
          }
          .videos__item-info {
            .videos__info-block {
              .video__info-name {
              }
              .video__info-value {
              }
            }
            .videos__more {
            }
            .video__more-arrow {
            }
          }
        }
      }
    }
  }

  .vidios-pages {
    .vidios-pages__btn {
    }
  }
}
@media (max-width: 900px) {
  .videos-block {
    flex-direction: column;
    .filter {
      max-width: none;
      padding-bottom: 50px;
      .filter__description {
        display: block;
        text-align: right;
        padding: 0px 0px 21px 0px;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #cccccc;
      }
      .filter__list {
        .filter__item {
          border-top: 2px solid #e5e5e5;
          padding: 0px 0px 20px 0px;
          &:first-child {
            padding: 0px 0px 20px 0px;
          }
          .filter__header {
            padding: 17px 0px 20px 0px;
            .filter__title {
            }
            .filter__btn {
              display: block;
              padding: 0px 0px 0px 0px;
              border: none;
              cursor: pointer;
              transition: all 0.3s ease 0s;
              &:checked {
              }
            }
          }

          .filter__body {
            display: none;
            &.body-visible {
              display: flex;
            }
            .filter__label {
              &:hover {
              }

              .filter__checkbox {
                &:checked + .filter__text {
                  &::before {
                  }
                }
              }
              .filter__text {
                &::before {
                }
              }
            }
          }
        }
      }
      .filter__nav {
        padding: 0px 0px 0px 0px;

        .filter__nab-btn_submit {
        }
        .filter__nab-btn_reset {
        }
      }
    }
    .videos-wrapper {
      margin: 0px 0px 0px 0px;

      .videos__list {
        .videos__item {
          max-width: 305px;
          width: unset;
          margin-bottom: 80px;

          &:hover {
            .videos__item-link {
              .videos__item-img {
              }
              .videos__item-title {
              }
              .videos__item-text {
              }
              .videos__item-info {
                .videos__info-block {
                  .video__info-name {
                  }
                  .video__info-value {
                  }
                }
                .videos__more {
                  .video__more-price {
                  }
                  .video__more-arrow {
                  }
                }
              }
            }
          }

          .videos__item-link {
            .videos__item-img {
            }
            .videos__item-title {
            }
            .videos__item-text {
            }
            .videos__item-info {
              .videos__info-block {
                .video__info-name {
                }
                .video__info-value {
                }
              }
              .videos__more {
                .video__more-price {
                }
                .video__more-arrow {
                }
              }
            }
          }
        }
      }

      .vidios-pages {
        margin: 0px;
        .vidios-pages__btn {
          &:last-child {
          }
          &:hover {
          }
          &.current {
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .videos-block {
    .videos-wrapper {
      .videos__list {
        .videos__item {
          max-width: none;
          width: 100%;

          &:hover {
            .videos__item-link {
              .videos__item-img {
              }
              .videos__item-title {
              }
              .videos__item-text {
              }
              .videos__item-info {
                .videos__info-block {
                  .video__info-name {
                  }
                  .video__info-value {
                  }
                }
                .videos__more {
                  .video__more-price {
                  }
                  .video__more-arrow {
                  }
                }
              }
            }
          }

          .videos__item-link {
            .videos__item-img {
            }
            .videos__item-title {
            }
            .videos__item-text {
            }
            .videos__item-info {
              .videos__info-block {
                .video__info-name {
                }
                .video__info-value {
                }
              }
              .videos__more {
                .video__more-price {
                }
                .video__more-arrow {
                }
              }
            }
          }
        }
      }

      .vidios-pages {
        .vidios-pages__btn {
          &:last-child {
          }
          &:hover {
          }
          &.current {
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .videos-block {
    .filter {
      padding-bottom: 25px;
      .filter__description {
      }
      .filter__list {
        .filter__item {
          &:first-child {
          }
          .filter__header {
            .filter__title {
            }
            .filter__btn {
              &:checked {
              }
            }
          }

          .filter__body {
            &.body-visible {
            }
            .filter__label {
              &:hover {
              }

              .filter__checkbox {
                &:checked + .filter__text {
                  &::before {
                  }
                }
              }
              .filter__text {
                &::before {
                }
              }
            }
          }
        }
      }
      .filter__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .filter__nab-btn_submit {
        }
        .filter__nab-btn_reset {
          padding: 25px 25px 25px 25px;
        }
      }
    }
    .videos-wrapper {
      .videos__list {
        .videos__item {
          padding: unset;

          &:hover {
            .videos__item-link {
              .videos__item-img {
              }
              .videos__item-title {
              }
              .videos__item-text {
              }
              .videos__item-info {
                .videos__info-block {
                  .video__info-name {
                  }
                  .video__info-value {
                  }
                }
                .videos__more {
                  .video__more-price {
                  }
                  .video__more-arrow {
                  }
                }
              }
            }
          }

          .videos__item-link {
            .videos__item-img {
            }
            .videos__item-title {
            }
            .videos__item-text {
            }
            .videos__item-info {
              .videos__info-block {
                .video__info-name {
                }
                .video__info-value {
                }
              }
              .videos__more {
                .video__more-price {
                }
                .video__more-arrow {
                }
              }
            }
          }
        }
      }

      .vidios-pages {
        .vidios-pages__btn {
          &:last-child {
          }
          &:hover {
          }
          &.current {
          }
        }
      }
    }
  }
}
