.form {
  padding-top: 100px;
  padding-bottom: 85px;

  .form__title {
    font-weight: 700;
    font-size: 13px;
    line-height: 120%;
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 0px 24px;
    text-transform: uppercase;
  }
  .form__form {
    // display: flex;

    display: grid;
    grid-template-columns: 352px auto;
    grid-template-rows: auto auto;
    grid-template-areas:  "block1 block2"
                          ".      privacy";
                          grid-gap: 16px;
    .form__block {
      .form__input,
      .form__textarea {
        outline: none;
        padding: 22px 24px 21px 24px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        background: #ffffff;
        border: 1px solid #e3e3e3;
        transition: all 0.3s ease 0s;
        &::placeholder {
          font-weight: 700;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
        }
        &:focus{
        border: 1px solid #000000;
        }
      }
    }
    .form__block_1 {
      grid-area: block1;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 352px;
      .form__input_1 {
        width: 352px;
        height: 60px;
      }
      .form__input_2 {
        width: 352px;
        height: 60px;
        margin: 16px 0px 16px 0px;
      }
      .form__inputs-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .form__input_3 {
          width: 169px;
          height: 60px;
        }
        .form__input_4 {
          width: 169px;
          height: 60px;
        }
      }
    }
    .form__block_2 {
      grid-area: block2;
      
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .form__textarea {
        width: 100%;
        height: 136px;
        margin: 0px 0px 16px 0px;
        resize: none;
      }
      .btn__submit {
        width: 352px;
        height: 60px;
      }
    }
    .form__privacy {
      grid-area: privacy;
      margin: 50px 0px 0px 0px;
      padding-left: 22px;
      // text-align: right;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: #808080;
      a {
        color: #808080;
        text-decoration: underline;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &:hover {
          color: $colorRed;
        }
      }
    }
  }
  
}

@media (max-width: 830px) {
  .form {
    .form__title {
    }
    .form__form {
      display: flex;
      flex-direction: column;
      .form__block {
        .form__input,
        .form__textarea {
          &::placeholder {
          }
        }
      }
      .form__block_1 {
        max-width: unset;
        width: 100%;
        .form__input_1 {
          width: 100%;
        }
        .form__input_2 {
          width: 100%;
        }
        .form__inputs-block {
          .form__input_3 {
            width: calc(50% - 8px);
          }
          .form__input_4 {
            width: calc(50% - 8px);
          }
        }
      }
      .form__block_2 {
        margin: 16px 0px 0px 0px;
        .form__textarea {
        }
        .btn__submit {
        }
      }
    }
    .form__privacy {
    }
  }
}

@media (max-width: 500px) {
  .form {
    padding-top: 76px;
    padding-bottom: 86px;
    padding-left: 18px;
    padding-right: 18px;
    .form__title {
    }
    .form__form {
      .form__block {
        .form__input,
        .form__textarea {
          &::placeholder {
          }
        }
      }
      .form__block_1 {
        .form__input_1 {
        }
        .form__input_2 {
        }
        .form__inputs-block {
          .form__input_3 {
          }
          .form__input_4 {
          }
        }
      }
      .form__block_2 {
        .form__textarea {
        }
        .btn__submit {
          width: 100%;
        }
      }
    }
    .form__privacy {
      text-align: left;
    }
  }
}
