@import "../repeating/students__item/students__item";

.students {
  padding-top: 70px;
  padding-bottom: 180px;
  .students__title {
    text-transform: uppercase;
  }
  .students__navigation {
    margin: 7px 0px 34px 0px;
    position: relative;
    display: flex;
    justify-content: flex-end;

    .swiper-button-next,
    .swiper-button-prev {
      top: unset;
      left: unset;
      width: 24px;
      height: 24px;
      right: unset;
      border: none;
      bottom: unset;
      background: none;
      position: relative;
      margin: 0px 0px 0px 26px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        svg {
          fill: $colorRed;
        }
      }
      &::after {
        content: none;
      }
      svg {
        fill: #000;
      }
    }
    .swiper-button-prev {
      transform: rotate(0deg);
    }
    .swiper-button-next {
      transform: rotate(180deg);
    }
  }

  .students__wrapper {
  }
}

@media (max-width: 500px) {
  .students {
    padding-bottom: 70px;
    .students__title {
    }
    .students__navigation {
      margin: 27px 0px 23px 0px;
      .swiper-button-next,
      .swiper-button-prev {
        &::after {
        }
        svg {
        }
      }
      .swiper-button-prev {
      }
      .swiper-button-next {
      }
    }
    .students__wrapper {
      .students__item {
        .students__item-img {
        }
        .students__item-date {
        }
        .students__item-title {
        }
        .students__item-description {
        }
      }
    }
  }
}
