.envelope {
  z-index: 10;
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 58px;
  height: 58px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &:hover {
    .envelope__wrapper {
      width: 100%;
      height: 100%;
      background: #ed4b4b;
    }
  }
  .envelope__wrapper {
    border-radius: 50%;
    background: $colorRed;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    img {
    }
  }

  @media (max-width: 500px) {
    bottom: 20px;
    right: 14px;
  }
}
