.ya-share2 {
  display: flex;
  flex-direction: row;
  .ya-share2__item {
    margin: 0px 40px 0px 0px !important; 
    &:last-child{
      margin: unset !important;
    }
    .ya-share2__link {
      span.ya-share2__badge {
        background: $colorBlack;
        transition: all 0.3s ease 0s;
      }
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        span.ya-share2__badge {
          background: $colorRed;
        }
      }
    }
  }
}